@{
    ViewBag.Title = "BorrowedRoom";
    Layout = "~/Views/_Layout.cshtml";
}
@if (@TempData["insert"] != null)
{
    if (TempData["insert"] == "1")
    {
        <script type="text/javascript">
            alert('Thêm thành công!');
        </script>
    }
    else
    {
         if(TempData["insert"] == "2")
        {
            <script type="text/javascript">
            alert('Thời gian mượn của bạn không đúng, Vui lòng xem lại');
            </script>
        }
        else
        {
            <script type="text/javascript">
                alert('Vui Lòng điền đầy đủ thông tin!');
            </script>
        }
    }
}

<div class="col-md-4">
    <ul class="list-group">
        <li class=" list-group-item"><a href="~/Reader/GetListBorrowedRoom"> Danh sách đặt phòng </a> </li>
        <li class=" list-group-item"><a href="~/Reader/BorrowedRoom"> Đặt phòng </a> </li>
    </ul>
</div>
<div class="col-md-8">
    <div class="panel panel-success" align="center">
        <div class="panel-heading">
            <font size="6" color="blue" face="arial"><b>  Đặt Phòng </b> </font>
        </div>
    </div>
    <form action="~/Reader/SaveBorrowedRoom" method="get" class="form-horizontal" role="form">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label"> Mã Độc Giả: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Mã độc giả" name="IDDocGia">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Phòng </label>
            <div class="col-sm-10">
                <select name="IDPhong">
                    <option> 1 </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label"> Thời gian mượn: </label>
            <div class="col-sm-10">
                <input type='text' class="form-control" id='ID_ThoiGianMuon' name="ThoiGianMuon" placeholder="tháng/ngày/năm  Giờ:phút" />
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label"> Thời gian trả: </label>
            <div class="col-sm-10">
                <input type='text' class="form-control" id='ID_ThoiGianTra' name="ThoiGianTra" placeholder="tháng/ngày/năm  Giờ:phút" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Lưu</button>
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {

        $("#ID_ThoiGianMuon").datetimepicker(
        {
            format: 'm/d/Y H:i'
        });
        $("#ID_ThoiGianTra").datetimepicker(
        {
            format: 'm/d/Y H:i'
        });
    });
</script>