@model QuanLiThuVien.Models.THUGOPY
@{
    ViewBag.Title = "GopY";
    Layout = "~/Views/_Layout.cshtml";
}
<link rel="stylesheet" href="@Url.Content("~/Content/css/table_normalize.css")">
<link rel="stylesheet" href="@Url.Content("~/Content/css/table_style.css")">

<div class="middle-content">
    <h1 class="text-center">Bảng góp ý</h1>
    <h2 class="text-right" style="margin-right: 200px">Ngày góp ý: <span id="ngaytrasach">
        <script>
            $temp = new Date().toDateString();
            document.write($temp) ;
       </script></span></h2>
    @*<h1 style="margin-left:20%">Nội dung góp ý:</h1>*@
    @using (Html.BeginForm("luuGopY", "Reader", FormMethod.Post))
    {
        <textarea style="width:60%; margin-left:20%; margin-top: 20px" rows="10" name="noidungGopY"></textarea>
    }
    <div class="row ticket-item" style="margin-top: 20px">
        <div class="col-md-2 col-md-push-4">
           <a class="ticket-btn" href="#" id="guiGopY">Gửi</a>
        </div>
        <div class="col-md-2 col-md-push-5">
			<a class="ticket-btn" href="#">Thoát</a>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            if (model != null)
                alert("Cảm ơn! Gửi góp ý thành công.");
            else
                alert("Gửi góp ý thất bại!");
        });
    </script>
</div>
@section script
{
    <script>
        $(document).ready(function () {
            $("#guiGopY").click(function () {
                if ($("textarea").val() == "") 
                    alert("Vui lòng nhập nội dung");
                else
                    $("form").submit();
            });
        });
        
    </script>
}