<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Colors 3 - A free CSS Template by Rambling Soul</title>
    <meta name="keywords" content="Free, CSS, Template, Downloads" />
    <meta name="Author" content="Roshan, Ramblingsoul.com" />
    <meta name="Credits" content="Designed by Roshan, RamblingSoul.com" />
    <link href="/Content/style.css" rel="stylesheet" type="text/css" />
    <link href="/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="wrap">
        <div id="header">
            <div class="topmenu">
               
            </div>
            <h1 class="logo">
                <a title="Good Morning World!" href="#">Good Morning World!</a>
                <span>Website Caption goes here</span>
            </h1>
        </div>
        <div id="mainmenu">
            <ul>
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About</a> </li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div id="contents">
            @RenderBody()
        </div>
        <div id="footer">
            <p>Copyright information &copy; Yourwebsite.com |  <a href="#">Put </a>| <a href="#">Some</a> | <a href="#">Links</a> | <a href="#">Here</a></p>
            <!--Credits - Do not delete-->
            <p class="credit"><a href="#">CSS Website Template </a>by Rambling Soul</p>
            <!--Credits-->
        </div>
        <div id="bottom"></div>
    </div>

</body>
</html>
