@{
    ViewBag.Title = "Intructions";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="col-md-4">
    <ul class="list-group">
        <li class="list-group-item"><a href="~/Public/GetListBorrowedRoom"> Danh sách đặt phòng </a> </li>
        <li class=" list-group-item"><a href="~/Employee/GetListBorrowedRoom"> Nhân viên </a> </li>
        <li class=" list-group-item"><a href="~/Reader/GetListBorrowedRoom"> Độc giả </a> </li>
    </ul>
</div>
<div class="col-md-8">
    <div class="panel panel-success" align="center">
        <div class="panel-heading">
            <font size="6" color="blue" face="arial"><b> *********  Hướng dẫn ********* </b> </font>
        </div>
    </div>
    <ul style="list-style-type:circle">
        <li><font size="3" color="red"> <strong> Phòng tham khảo sách </strong> </font> </li>
            <ul>
            <li> Xuất trình thẻ thư viện tại quầy tham khảo; </li>
            <li> Chọn tài liệu trên giá để đọc tại chỗ; </li>
            <li> Để tài liệu tại bàn sau khi đọc xong; </li>
            <li> Tài liệu chỉ được photocopy không quá 20% số trang, riêng luận văn, luận án và báo cáo khoa học không được photocopy; </li>
            <li> Sử dụng máy tính để tra cứu thông tin trực tuyến và Internet.<br></li>
            </ul><br>
        <li><font size="3" color="red"> <strong> Phòng lưu hành </strong> </font> </li>
            <ul>
            <li> Xuất trình thẻ thư viện tại quầy lưu hành;</li>
            <li> Chọn sách trên giá để đọc tại chỗ hoặc mượn về nhà;</li>
            <li> Để sách đúng nơi quy định sau khi đọc xong;</li>
            <li> Sách mượn về nhà làm thủ tục tại quầy lưu hành, mỗi lần mượn 02 cuốn với thời hạn 02 tuần (có thể gia hạn thêm 01 tuần);</li>
            <li> Mượn sách quá hạn sẽ bị phạt 1.000 đ/cuốn/ngày trong thời hạn 30 ngày. Quá hạn sau 30 ngày, thư viện sẽ chuyển danh sách độc giả vi phạm cho phòng công tác sinh viên xử lý;</li>
            <li> Mọi trường hợp sách bị mất mát, hư hỏng (rách, mất trang, dính bẩn, ẩm ướt,...) đều phải đền bù theo quy định giá bìa sách cộng thêm tiền xử lý mã vạch, tem từ, phân loại, nhãn (50.000 đ/cuốn);</li>
            <li> Đem sách ra ngoài không qua thủ tục tại quầy lưu hành và bị hệ thống an ninh phát hiện sẽ bị xử phạt 100.000 đ/cuốn, truất quyền độc giả và thông báo về phòng công tác sinh viên.</li>
            </ul><br>
        <li><font size="3" color="red"> <strong> Thư viện ở Linh Trung </strong> </font> </li>
            <ul>
                <li> Bạn đọc xuất trình thẻ thư viện, để cặp, túi xách đúng nơi quy định;</li>
                <li> Sử dụng máy tính để tra cứu tài liệu;</li>
                <li> Chọn sách trên giá để đọc tại chỗ hoặc mượn về nhà;</li>
                <li> Bạn đọc có thể đọc tại thư viện hoặc đem sang phòng tự học. Sách phải trả trước 15 giờ 45 cùng ngày;</li>
                <li> Báo và tạp chí chỉ đọc tại chỗ</li>
                <li> Sách mượn về nhà làm thủ tục tại quầy lưu hành, mỗi lần mượn 02 cuốn với thời hạn 02 tuần (có thể gia hạn thêm 01 tuần);</li>
                <li> Mượn sách quá hạn sẽ bị phạt 1.000 đ/cuốn/ngày trong thời hạn 30 ngày. Quá hạn sau 30 ngày, thư viện sẽ chuyển danh sách độc giả vi phạm cho phòng công tác sinh viên xử lý;</li>
                <li> Mọi trường hợp sách bị mất mát, hư hỏng (rách, mất trang, dính bẩn, ẩm ướt,...) đều phải đền bù theo quy định giá bìa sách cộng thêm tiền xử lý mã vạch, tem từ, phân loại, nhãn (50.000 đ/cuốn);</li>
                <li> Đem sách ra ngoài không qua thủ tục tại quầy lưu hành và bị hệ thống an ninh phát hiện sẽ bị xử phạt 100.000 đ/cuốn, truất quyền độc giả và thông báo về phòng công tác sinh viên.</li>
            </ul><br>
    </ul>   
           

</div>